google-generativeai
langchain-core==0.3.6 
langchain-google-genai
matplotlib==3.9.2 
mlxtend==0.23.1
optuna==4.0.0 
pandas==2.2.2 
scikit-learn==1.5.1 
seaborn==0.13.2 
streamlit==1.31.1 
xgboost==2.1.1
